.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  cursor: pointer;
  transition:
    background 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
  font-family: var(--font-main);
  width: fit-content;
  gap: 10px;
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &:not(:disabled):hover {
    background-color: var(--primary-button-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  &.iconBefore {
    flex-direction: row;
  }

  &.iconAfter {
    flex-direction: row-reverse;
  }
  &:disabled {
    background-color: transparent;
    color: darkgray;
    cursor: not-allowed;
  }
}

.icon {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 0;
}

.text {
  white-space: nowrap;
}

.primary {
  background: var(--primary-button-color);
  color: var(--background-color);
}

.primary:not(:disabled):hover {
  background: var(--primary-button-color-hover);
}

.secondary {
  background: #6c757d;
  color: white;
}

.secondary:hover {
  background: #545b62;
}

.danger {
  background: #dc3545;
  color: white;
}

.danger:hover {
  background: #b02a37;
}
