@import 'normalize.css';

@font-face {
  font-family: 'Tactic Sans';
  src: url('/src/assets//fonts/TacticSans-BlkIt.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #ffffff;
  --border-color: #d7d7d7;
  --text-color: #000000;
  --text-color-light:#adadad;
  --divider-color:#f5f5f5;
  --primary-button-color:#000000;
  --primary-button-color-hover:#616161;
  --error-color: rgba(235, 2, 55, 1);
  --font-main: 'Open Sans', sans-serif;
  --font-logo: 'Tactic Sans', sans-serif;
}
