@use "../shared/styled/mixins.scss" as *;

button {
  all: unset;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  @include font-main;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
}

.app {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 20px;
  min-height: calc(100vh - 110px);
  padding-left: 42px;
  padding-right: 42px;
}

@media (max-width: 1500px) {
  .app {
    max-width: 1020px;
  }
}

@media (max-width: 1120px) {
  .app {
    max-width: 630px;
  }
}

@media (max-width: 720px) {
  .app {
    max-width: 370px;
  }
}




