.container {
  display: flex;
  width: 100%;
  gap: 30px;
}

.sidebar {
  flex-basis: 15%;
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
}

@media (max-width: 720px) {
  .container {
   flex-direction: column;
  }
}

