.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.error {
  color: var(--error-color);
  font-size: 12px;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.halfWidth {
  width: 50%;
}